[Desktop Entry]
Name=Offensive Tools
Comment=Launch and manage offensive security tools
Exec=python3 %k/tools-launcher.py
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Development;Security;
StartupNotify=true